@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar Styles */
#navbar a {
    transition: color 0.3s ease-in-out;
}

#navbar a:hover {
    color: red;
}

#navbar a.active {
    color: red;
    font-weight: bold;
}

#navbar .active:hover {
    color: white;
}

/* Mobile Navbar Styles */
#mobileMenu {
    opacity: 0;
    transform: translateY(-100%);
}

#mobileMenu.visible {
    opacity: 1;
    transform: translateY(0);
}

.menu-item.active {
    color: red;
}

.menu-item:hover {
    color: red;
}